In [771]:
import pandas as pd
from numpy.random import triangular, choice
import openpyxl as opx
import xlwings as xw
import numpy as np

In [796]:
VTEX = xw.books.open(r'C:\Users\alice\Downloads\VTEX_cenarios.xlsx')

In [797]:
# VTEX = opx.load_workbook(filename = r'C:\Users\alice\Downloads\VTEX_cenarios.xlsx')

In [798]:
financials = VTEX.sheets[0]
years = [*range(2021,2031)]

In [800]:
DCF = VTEX.sheets[1]

In [801]:
LATAM = financials['US_EU_MS']

In [802]:
LATAM_df = pd.DataFrame(LATAM.value, columns = anos)
LATAM_df

,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,0.000987,0.0010,0.0015,0.0025,0.0035,0.0045,0.0050,0.0055,0.0055,0.0055
1,0.000487,0.0005,0.0010,0.0020,0.0030,0.0040,0.0045,0.0050,0.0050,0.0050
2,-0.000013,0.0000,0.0005,0.0015,0.0025,0.0035,0.0040,0.0045,0.0045,0.0045

In [803]:
lista = []
for i in LATAM_df:
    bull, base, bear = LATAM_df[i]
    lista.append(triangular(bear, base, bull))

lista

[0.0005680009392038419,
 0.00021292843093188857,
 0.0006947784602954034,
 0.0017723258690706461,
 0.0027834428792013685,
 0.0035597084601641047,
 0.004561967332103038,
 0.005159793152507647,
 0.004872935960402341,
 0.004887917331791945]

In [804]:
financials.range('F339:O339').value = lista
DCF.range('H61').value

14.23186074353853

In [777]:
def random_line(key, cells):
    lista = []
    raw_df = financials[key]
    df = pd.DataFrame(raw_df.value, columns = anos)
    for i in df:
        bull, base, bear = LATAM_df[i]
        lista.append(triangular(bear, base, bull))
        financials.range(cells).value = lista

In [778]:
def iterator(key, cells, iterations):
    [random_line(key, cells) for i in [*range(iterations)]]

In [779]:
def valuation(dictio, iterations):
    for key in dictio:
        iterator(key, dictio[key], iterations)
    return DCF.range('H61').value

In [780]:
dicionario = {'US_EU_MS':'F339:O339'}

In [805]:
valuation(dicionario, 10)

14.253604028570567